.skills {
  background-color: #1f0750;
}



/* YourComponent.css */

/* Add the following styles for the hover effect */
.transparent-card {
  background-color: white;
  border: none;
  transition: transform 0.3s ease-in-out;
  transform-origin: center;
}

.icon-container {
  margin-right: 20px;
}

.icon-img {
  width: 100%;
  height: auto;
}

.text-container {
  flex-grow: 1;
}


.transparent-card:hover {
  transform: scale3d(1.1, 1.1, 1);
  /* Adjust the scaling factor as needed */
}